/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .header-img {
   width: 20em;
   height: 20em;
 }

 #Layer_1 {
   width: 1.5em;
   height: 1.5em;
 }

 .icon {
   width: 1.5em;
   height: 1.5em;
   vertical-align: middle;
   padding-right: .5em
 }

 /* html {
   height: 100%;
 } */

 main {
   flex: 1 0 auto;
 }

 svg {
   width: 3em;
   height: 3em;
 }

 body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 .row {
   flex: 1;
 }
