/* Particle.js
-------------------------------------------------- */

/* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 40%; height: 100%; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; margin-left: 78em;}

html {
  width: 120em;
  position: relative;
  min-height: 100%;
}

body {
  margin: 3em 3em 3em 60px;
  max-width: 55em;
}

#about-me {
  font-size: 15px;
}

img {
  float: left;
  margin-right: 25px;
  border-radius: 5px;
  max-width: 240px;
}

#media-icon {
  height: 25px;
}

.social-ref-ids {
  text-decoration: underline;
}

.language-icon {
  height: 3em;
  padding-left: 1em;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: -45px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 25px;
}

#icon-earth {
  padding-top: 5px;
  height: 1.5em;
}

@media screen and (max-width:480px) {
  body {
    margin: 0.4em 0.6em;
    font-size: 70%;
  }
}

@media screen and (max-width:480px) {
  #about-id {
    max-width: 50%
  }
}

@media only screen and (max-width:480px) {
  #about-me {
    font-size: 1em;
  }
}

@media only screen and (max-width:480px) {
  #media-icon {
    height: 1em;
  }
}

.header {
  border-left: 30px solid #004FAC;
  margin-left: -60px;
  padding-left: 30px;
}
