/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 100px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

div.col-sm-6 {
  padding-top: 3em;
}

#menulist {
  text-align: center;
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 0px;
  padding: 0px;
}

.menu-item {
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
}

/* Images
----------------------------------------------------- */

svg#icon-earth {
  height: 27px;
  width: 35px;
  padding-top: 10px;
  margin-left: 28px;
}

svg {
  height: 75px;
  width: 140px;
  margin-left: 15px;
  margin-bottom: 30px;
}

svg#Layer_2 {
  height: 40px;
  margin: 0 auto;
}

img.portfolio-image {
  width: 150px;
  height: 150px;
  border-radius: 2.5%
}

path.st2 {
 fill: black;
}
