<h3>JOSH BUDROW</h3>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto" style='color:#B52329;'>SOFTWARE ENGINEER</div>
  </div>
  <div class="row justify-content-md-center">
    <br>
    <div class="col-md-auto" style='color:#B52329;list-style:none;display:flex;padding-top:5px;'>
      <li>
        <a href="mailto:josh.budrow@gmail.com?subject=Let's talk business!">
          <img style='max-width:2.15em;' src='/img/gmail.png'>
        </a>
      </li>
      <li style='padding:0 25px 0 25px;'>
        <a href='https://linkedin.com/in/jbudrow'>
          <img style='max-width:2.15em;' src='/img/linkedin.png'>
        </a>
      </li>
      <li>
        <a href='https://github.com/jbudrow'>
          <img style='max-width:2.15em;' src='/img/github.png'>
        </a>
      </li>
    </div>
  </div>
</div>
<br><br><br>

<!-- Projects -->
<div class='row'>
  <b style='color:#B52329'>PROJECTS</b>
</div>
<!-- Projects list -->
<div class='row justify-content-between'>
  <div class='col-5' style='margin:inherit;'>
  <div class="img-responsive" style="width:22rem; height:11rem; background-position: 50% 50%; background-repeat: no-repeat; background-size:cover; background-image:url('https://cdn02.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_MortalKombat11_image1600w.jpg')"></div>   
  </div>

  <div class='col-5' style='list-style:none;'>
    <li style='border-bottom:0.5px solid lightgray;'>
      <b>Mortal Kombatants</b>
      <a class='disabled' href='#' style='color: #000;float:right'>SOURCE</a>
    </li>
    <br>
    <li>Tracks official NetherRealm Studios ESport tournaments, brackets, videos, and player stats. Includes all move lists.</li> 
  </div>
</div>
<br>
<div class='row justify-content-between'>
  <div class='col-5' style='margin:inherit;'>
    <div class="img-responsive" style="width:22rem; height:11rem; background-position: 50% 50%; background-repeat: no-repeat; background-size:cover; border-radius: 2.5%; background-image:url('https://cdn.vox-cdn.com/thumbor/oyPR34D3zm-Dx3EAa7D7N_81wQs=/0x0:1920x1080/1200x800/filters:focal(455x271:761x577)/cdn.vox-cdn.com/uploads/chorus_image/image/57183919/nintendo_switch_eshop_storefront_1920.0.png')"></div>   
  </div>

  <div class='col-5' style='list-style:none;'>
    <li style='border-bottom:0.5px solid lightgray;'>
      <b>Switch Sale</b>
      <a class='disabled' href='#' style='color: #000;float:right'>SOURCE</a>
    </li>
    <br>
    <li>Current Nintendo Switch Eshop games on sale with price and MetaCritic score.</li> 
  </div>
</div>
<br>
<div class='row justify-content-between'>
  <div class='col-5' style='margin:inherit;'>
  <div class="img-responsive" style="width:22rem; height:11rem; background-position: 50% 50%; background-repeat: no-repeat; background-size:cover; border-radius: 2.5%; background-image:url('https://media.mtgsalvation.com/attachments/105/560/635032499999218116.jpg')"></div>   
  </div>

  <div class='col-5' style='list-style:none;'>
    <li style='border-bottom:0.5px solid lightgray;'>
      <b>MTG Manager</b>
      <a class='disabled' href='#' style='color: #000;float:right'>SOURCE</a>
    </li>
    <br>
    <li>Tired of sifting through the cardboard to see how many Llanowar Elves you have? MTG Manager helps you stock your collection.</li> 
  </div>
</div>
<br>
<div class='row justify-content-between'>
  <div class='col-5' style='margin:inherit;'>
  <a href='frankenstein-car.herokuapp.com'>
    <div class="img-responsive" style="width:22rem; height:11rem; background-position: 50% 50%; background-repeat: no-repeat; background-size:cover; border-radius: 2.5%; background-image:url('https://auto.loan/wp-content/uploads/2018/07/autotrader-2.jpg')"></div>   
  </a>
  </div>

  <div class='col-5' style='list-style:none;'>
    <li style='border-bottom:0.5px solid lightgray;'>
      <b>Frankenstein</b>
      <a href='https://github.com/JBudrow/frankenstein' style='color: #B52329;float:right'>SOURCE</a>
    </li>
    <br>
    <li>Car parts list of my old man's project car, 1992 Cadillac Eldorado.</li> 
  </div>
</div>
<br><br>

<!-- Skills -->
<div class='row'>
  <b style='color:#B52329'>SKILLS</b>
</div>
<div class='row'>
  <p>RUBY RAILS POSTGRESQL MYSQL MONGODB RESTFUL WEB SERVICES TEST FRAMEWORKS(MINITEST, RSPECT, CUCUMBER) HTML CSS JAVASCRIPT MONITORING SERVICES(DATADOG, AIRBRAKE)</p>
</div>
<br><br>

<!-- Professional Experience -->
<div class='row'>
  <b style='color:#B52329'>PROFESSIONAL EXPERIENCE</b>
</div>
<div class='row justify-content-between'>
  <div class='col-4' style='list-style:none;'>
    <li><b>BioIQ</b></li>
    <li><i>Atlanta, Georgia</i></li>
    <li><i>Ruby on Rails Engineer</i></li>
  </div>

  <div class="col-4" style='text-align:end;'>2016-2019</div>
</div>

<!-- Description -->
<div class='row'>
  <ul type='square'>
    <li>Provided technical design and solutions for business requirements.</li>
    <li>Designed, coded, tested, and performed code review using Ruby on Rails and SQL.</li>
    <li>Performed peer review of design and coding of other developers.</li>
    <li>Determined technical feasibility of UI/UX designs.</li>
    <li>Reegineered existing Ruby code for performance and stability.</li>
    <li>Estimated coding and unit testing for assigned user stories.</li>
    <li>Assisted Scrum Masters with release planning and milestone dates.</li>
    <li>Participated with Agile team and provided development and unit status of assigned user stories.</li>
    <li>Worked with product owners and Product Management to design solutions for release user stories.</li>
    <li>Worked with DevOps team to ensure that developed user stories go into production on time and work in the testing environment.</li>
    <li>Prepared environments and production for assigned user stories.</li>
    <li>Developed resource planning for sprints for new releases and addressing.</li>
    <li>Partnered with security teams and external security service providers to implement security policies and audit compliances in new and exisiting application code.</li>
    <li>Used Jira to analyze, discuss, and document issues.</li>
  </ul>
</div>
<br><br>

<!-- Training & Awards -->
<div class='row'>
  <b style='color:#B52329'>TRAINING & AWARDS</b>
</div>
<div class='row justify-content-between'>
  <div class='col-4' style='list-style:none;'>
    <li><b>The Iron Yard</b></li>
    <li><i>Atlanta, Georgia</i></li>
  </div>

  <div class="col-4" style='text-align:end;'>2016</div>
</div>

<!-- Training -->
<div class='row'>
  <ul type='square'>
    <li> 
      The Iron Yard training program is a 12-week intensive training program 
      for aspiring software engineers, specializing in Ruby, Rails, HTML, CSS, JavaScript, object-oriented
      principles, test-driven development, source control, cloude application platforms, and Agile development.
    </li>
  </ul>
</div>

<div class='row justify-content-between'>
<div class='col-4' style='list-style:none;'>
  <li><b>BioIQ</b></li>
  <li><i>Atlanta, Georgia</i></li>
</div>

<div class="col-4" style='text-align:end;'>2017</div>
</div>

<!-- Awards -->
<div class='row'>
  <ul type='square'>
    <li> 
      "TINYPulse Cheers for Peers Employee of the Month" for employee performance delivering SaaS implementations.
    </li>
  </ul>
</div>
